/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
  }
    :root {
      --primary-theme-color: #0140C1;
      --secondary-theme-color:#7e79ac;
      --tertiary-theme-color:#2A5AC5;
    }
    .mat-mdc-snack-bar-container {
      &.red-snack-bar {
        --mdc-snackbar-container-color: #ff170b;
        --mat-mdc-snack-bar-button-color: #ff170b;
        --mdc-snackbar-supporting-text-color: #fff;
        --mat-snack-bar-button-color: white;
      }      
      &.green-snack-bar {
        --mdc-snackbar-container-color: #00b11d;
        --mat-mdc-snack-bar-button-color: #00b11d;
        --mdc-snackbar-supporting-text-color: #fff;
        --mat-snack-bar-button-color: white;
      }
    }
         .mat-mdc-slider .mdc-slider__track--active_fill {
           border-color: var(--primary-theme-color) !important;
         }

         .mat-mdc-slider .mdc-slider__thumb-knob {
           background-color: var(--primary-theme-color) !important;
           border-color: var(--primary-theme-color) !important;
         }
  // html{
  //   --mdc-list-list-item-label-text-color: white;
  //   --mdc-list-list-item-label-text-weight: 500;
  //   --mdc-list-list-item-label-text-size: 19px
  // }

  // Manipulate background color on hover and focus
//   .mat-mdc-form-field-focus-overlay {
//     background-color: transparent !important;
//   }