<mat-card class="top-tool-bar">
  <div class="top-tool-bar-first-half">
  <div class="div-one">
    <mat-icon matTooltip="Preview" style="cursor: pointer;" (click)="onButtonClick('preview')">open_in_new</mat-icon>
  </div>
  <div class="div-two">
    <h1 style="margin: 0px;font-size: 35px;">Form Editor</h1>
    <hr style="width: 60%;color: var(--primary-theme-color)">
    <h4 style="margin: 0px;height: 30%;">click on any card to start editing!</h4>
  </div>
  <div class="div-three">
    <button mat-flat-button class="cancel-button" (click)="onButtonClick('cancel')">cancel</button>
    <button mat-flat-button class="save-button" (click)="onButtonClick('save')">Save</button>
  </div>
  </div>
 
</mat-card>
<div class="preview-parent-div">
  <mat-card class="controls-div">
    <mat-icon style="cursor: pointer;" (click)="onGlobalEditorClick()">invert_colors</mat-icon>
    <mat-icon style="cursor: pointer;">font_download</mat-icon>
  </mat-card>
  <div class="global-editor-div"
    [ngClass]="viewGlobalEditor ? 'slide-right-global-editor' : globalEditorFlag ? 'slide-left-global-editor': ''">
    <h5 mat-dialog-title
      style="margin:0px;height: 5%;display: flex;flex-direction: row; padding: 20px;background-color: var(--primary-theme-color);color: white;cursor:move">
      <span style="min-width: 90%;font-size: 20px;font-weight: 500;">Global Editor</span>
      <mat-icon style="min-width: 10%;display: flex;align-items: center;justify-content: center;cursor: pointer;"
        data-control="Dialog-close" (click)="onGlobalEditorClick()" [matTooltip]="'close'">close</mat-icon>
    </h5>
    <div class="global-editor-contents">
      <div class="card-background-color-picker-div">
        <span class="card-background-color-picker-label">
          Card color
        </span>
        <div class="card-background-color-picker-input" [(colorPicker)]="style.cardBackGroundColor" (colorPickerChange)="onGlobalEditorChange()"
          [style.background]="style.cardBackGroundColor">
        </div>
      </div>
      <div class="slider-parent-div">
        <div class="slider-info-div">
          <span class="slider-label-span">
            Left-Top-Border-Radius
          </span>
          <span class="slider-value-span">
            {{style.borderLeftTopRadius+'px'}}
          </span>
        </div>
        <mat-slider class="slider-div" [disabled]="false" [max]="200" [min]="0" [step]="1" [discrete]="false"
          [showTickMarks]="false">
          <input matSliderThumb [(ngModel)]="style.borderLeftTopRadius" (change)="onGlobalEditorChange()" #slider>
        </mat-slider>
      </div>
      <div class="slider-parent-div">
        <div class="slider-info-div">
          <span class="slider-label-span">
            Right-Top-Border-Radius
          </span>
          <span class="slider-value-span">
            {{style.borderRightTopRadius+'px'}}
          </span>
        </div>
        <mat-slider class="slider-div" [disabled]="false" [max]="200" [min]="0" [step]="1" [discrete]="false"
          [showTickMarks]="false">
          <input matSliderThumb [(ngModel)]="style.borderRightTopRadius" (change)="onGlobalEditorChange()" #slider>
        </mat-slider>
      </div>
      <div class="slider-parent-div">
        <div class="slider-info-div">
          <span class="slider-label-span">
            Right-Bottom-Border-Radius
          </span>
          <span class="slider-value-span">
            {{style.borderRightBottomRadius+'px'}}
          </span>
        </div>
        <mat-slider class="slider-div" [disabled]="false" [max]="200" [min]="0" [step]="1" [discrete]="false"
          [showTickMarks]="false">
          <input matSliderThumb [(ngModel)]="style.borderRightBottomRadius" (change)="onGlobalEditorChange()" #slider>
        </mat-slider>
      </div>
        <div class="slider-parent-div">
          <div class="slider-info-div">
            <span class="slider-label-span">
              Left-Bottom-Border-Radius
            </span>
            <span class="slider-value-span">
              {{style.borderLeftBottomRadius+'px'}}
            </span>
          </div>
          <mat-slider class="slider-div" [disabled]="false" [max]="200" [min]="0" [step]="1" [discrete]="false"
            [showTickMarks]="false">
            <input matSliderThumb [(ngModel)]="style.borderLeftBottomRadius" (change)="onGlobalEditorChange()" #slider>
          </mat-slider>
        </div>
    </div>
  </div>
  <app-display-form class="preview" [formId]="formId" [isFromEditor]="true" (globalStyleInitialization)="globalStyleInitialization($event)"></app-display-form>
</div>