.page-container {
  margin: 20px;
  border-radius: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  box-shadow: none;
  background-color: transparent;
}

.form-title-card {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 25px;
  padding: 10px;
  border-left: 8px solid red;
}

.add-edit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  flex-direction: column;
}
.add-form{
  position: fixed;
    left: 90%;
    top: 18%;
    font-size: 26px;
    cursor: pointer;
}
.question-row{
  display: flex;
  flex-direction:row;
  gap: 3%;
}
.answer-row{
  display: flex;
  flex-direction:row;
  gap: 13%;
  min-width: 100%;
}