<app-common-page-loader *ngIf="isLoader"></app-common-page-loader>
<div *ngIf="!isLoader"class="page-container">
  <div class="personal-info-div">
    <h1>{{greetingHeader}}</h1>
    <h3>{{greetingTime}}</h3>
  </div>
  <div class="info-cards-div">
    <div class="info-card-outer-div">
      <div class="info-card-middle-div">
        <mat-card class="info-card">
          <div class="info-image-div">
            <img class="form-info-image" src="assets/images/formImage.png" alt="">
          </div>
          <div class="info-details-div">
            <h4 class="info-heading">Forms created</h4>
            <h2 class="info-data">{{formsCreated}}</h2>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="info-card-outer-div">
      <div class="info-card-middle-div">
        <mat-card class="info-card">
          <div class="info-image-div">
            <img class="user-info-image" src="https://cdn.pixabay.com/photo/2015/03/04/22/35/avatar-659651_640.png"
              alt="">
          </div>
          <div class="info-details-div">
            <h4 class="info-heading">Total Users</h4>
            <h2 class="info-data">{{totalUsers}}</h2>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="info-card-outer-div">
      <div class="info-card-middle-div">
        <mat-card class="info-card">
          <div class="info-image-div">
            <img class="user-info-image"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyOFEaniSiKNCPuyfKOk61uNq9d91mobtjNg&s" alt="">
          </div>
          <div class="info-details-div">
            <h4 class="info-heading">Submited</h4>
            <h2 class="info-data">{{submitted}}</h2>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="graph-details-div">
      <div class="graph-details-content-outer-div">
        <div class="graph-details-content-middle-div">
          <mat-card class="graph-mat-card">
            <app-common-chart class="graph"></app-common-chart>
          </mat-card>
        </div>
      </div>
      <div class="graph-details-content-outer-div">
        <div class="graph-details-content-middle-div">
          <mat-card  class="graph-mat-card">
            <img src="assets/images/FormTemplate.png" class="temp-image">
          </mat-card>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>