<div style="padding: 30px;">
  <mat-card class="form-page-container">
    <mat-card class="form-header-card">
      <div class="form-header-div">
        <h1 class="form-header">{{formData.title}}</h1>
      </div>
      <hr class="form-desc-seperator">
      <div class="form-description-div">
        <h3 class="form-description">{{formData.description}}</h3>
      </div>
    </mat-card>
    <form [formGroup]="form" class="form-div">
      <div formArrayName="items" class="form-array-div">
        <div *ngFor="let formData of form.get('items').controls; let index = index" [formGroupName]="index"
          class="form-group-div">
          <mat-card class="form-details-card">
            <div>
              <h4 class="form-question">{{formData.get('question').value}}</h4>
            </div>
            @if(formData.get('answerType').value === 'textBox'){
            <div class="form-text-box-div">
              <mat-form-field class="form-text-box">
                <textarea matInput placeholder="Enter your answer here..." formControlName="userAnswer"></textarea>
              </mat-form-field>
            </div>
            }
            @if(formData.get('answerType').value === 'radio' && formData.get('options').length){
            <mat-radio-group formControlName="userAnswer" class="form-radio-div">
              @for (answers of formData.get('options').controls; track answers) {
              <mat-radio-button [value]="answers.get('option').value">{{answers.get('option').value}}</mat-radio-button>
              }
            </mat-radio-group>
            }
            @if(formData.get('answerType').value === 'checkBox' && formData.get('options').length){
            <div class="form-check-box-div" formArrayName="options">
              <div *ngFor="let answers of formData.get('options').controls; let i=index" [formGroupName]="i">
                <mat-checkbox formControlName="option"
                  (change)="ohCheckBoxChange($event.checked, index, i)">{{answers.get('value').value}}</mat-checkbox>
              </div>
            </div>
            }
          </mat-card>
        </div>
      </div>
    </form>
    <div class="form-submit-button-div">
      <button mat-flat-button class="form-submi-button" (click)="onFormSubmit();">
        submit
      </button>
    </div>
  </mat-card>
</div>